
<div class="container block mt-5 mb-5 py-5 text-center fs-5 text-uppercase">

    <div class="fw-bold fs-1">Проект DRAW.IO</div>
    <div class="mt-4">Был создан в декабре 2022-ого года</div>
    <div class="mt-2"><span class="fw-bold">Широко</span> известным в <span class="fw-bold">узких</span> кругах</div>
    <div class="mt-4 fs-3 fw-bold">Смирновом Павлом Андреевичем</div>
    <div class="mt-4">из группы</div>
    <div class="mt-4 fs-2 fw-bold">ИУ6-34Б</div>
    <div class="mt-4 fs-2 fw-bold">С любовью</div>
</div>
